@model RiskManagementScratch.Models.DampakRisiko

@{
    ViewData["Title"] = "Edit Dampak Risiko";
    Layout = "~/Views/Shared/_RiskManagerLayoutPage.cshtml";
}

<div class="app-content pt-3 p-md-3 p-lg-4" style="height: 1000px;">
    <div class="container-xl">

        <div class="bgKonten">
            <h1 class="app-page-title mb-4 p-3">
                Master Dampak Risiko - @ViewData["Title"]

                <span class="float-end">
                    <a class="btn btn-warning text-white" asp-controller="DampakRisiko" asp-action="Index"><i class="fa-solid fa-left-long"></i> Kembali</a>
                </span>
            </h1>
        </div>

        <div class="bgKonten">
            <form method="post" class="mt-4 p-4">
                <input type="hidden" class="form-control" asp-for="Id_Dampak_Risiko">

                <div class="mb-3">
                    <label for="" class="form-label">Nama Dampak Risiko</label>
                    <input type="text" class="form-control" asp-for="Nama_Dampak_Risiko">
                    <span asp-validation-for="Nama_Dampak_Risiko" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Nilai Dampak Risiko</label>
                    <input type="text" class="form-control" asp-for="Nilai_Dampak_Risiko">
                    <span asp-validation-for="Nilai_Dampak_Risiko" class="text-danger"></span>
                </div>

                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-success btn-block text-white"><i class="fa-regular fa-floppy-disk"></i> Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>