@{
    ViewData["Title"] = "Division Member Dashboard";
    Layout = "~/Views/Shared/_DivisionMemberLayoutPage.cshtml";
}

<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
        <div class="bgKonten">
            <h1 class="app-page-title mb-4 p-3">
                Dashboard (Heat Map)

                <span class="float-end">
                    <a class="btn btn-success text-white" asp-controller="RegistrasiRisiko" asp-action="Create"><i class="fa-solid fa-plus"></i> Registrasi Proyek</a>
                </span>
            </h1>
        </div>

        <div class="bgKonten">
            <div class="mb-4 p-3">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-12">
                        <label for="setting-input-2" class="form-label" style="font-weight: bold; color: black;">Filter (Tahun)</label>
                        <select class="form-select" id="setting-input-2" required style="color: black;">
                            <option>2022</option>
                            <option>2021</option>
                            <option>2020</option>
                        </select>
                    </div>

                    <div class="col-md-4 col-lg-4 col-12">
                        <table border="0">
                            <thead>
                                <tr>
                                    <td class="pt-2"><span class="circle" style="background: #89e8e7;"><span></td>
                                    <td><div style="padding-left: 5px;">Risiko Awal</div></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="pt-2"><span class="circle" style="background: #088ee8;"><span></td>
                                    <td><div style="padding-left: 5px;">Sisa Risiko</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="bgKonten p-3">
            <div class="row g-4 mb-4">            
                <div class="col-12 col-lg-8">
                    <label for="setting-input-2" class="form-label" style="font-weight: bold; color: black;">Heat Map</label>
                    <div class="chart-container">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <label for="setting-input-2" class="form-label" style="font-weight: bold; color: black;">Data Registrasi Proyek</label>
                    <div class="chart-container">
                        <div class="table-responsive">
                            <table class="table text-nowrap text-center" id="tableRP">
                                <thead>
                                    <th>ID Registrasi Proyek</th>
                                    <th>Username</th>
                                </thead>

                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--//app-card-->
            </div>
        </div><!--//row-->
    </div><!--//container-fluid-->
</div><!--//app-content-->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  var dataNya = [];

  getDataRisikoAwal();

  async function getDataRisikoAwal() {
      const respon = await fetch('@Url.Action("GetRegistrasiProyek")');
      console.log(respon);

      const dataRP = await respon.json();
      console.log(dataRP);

      const lengthRP = await dataRP.length;
      console.log(lengthRP);

      var tbData = document.getElementsByTagName('table> tbody:last');

      dataNya.push(dataRP);

      for (var i = 0; i < lengthRP; i++) {
          $('#tableRP tbody').append('<tr><td>' + dataNya[0][i].id + '</td><td>' + dataNya[0][i].aktor + '</td></tr>');
      }



      const response = await fetch('@Url.Action("GetValueRisikoAwal")');
      console.log(response);

      const data = await response.json();
      console.log(data);

      const response2 = await fetch('@Url.Action("GetValueSisaRisiko")');
      console.log(response2);

      const data2 = await response2.json();
      console.log(data2);

      const length = await data.length;
      console.log(length);

      new Chart(ctx, {
        type: 'scatter',
        data: {
            datasets: [{
            label: 'Risiko Awal',
            data: data,
            backgroundColor: '#89e8e7'
            }, 
            {
            label: 'Sisa Risiko',
            data: data2,
            backgroundColor: '#088ee8'
            }],
        },

        options: {
            scales: {
              x: {
                type: 'linear',
                position: 'bottom',
              }
            }
        }
      });  
  }
</script>