@model RiskManagementScratch.Models.Aktor

@{
    ViewData["Title"] = "Edit Aktor";
    Layout = "~/Views/Shared/_RiskManagerLayoutPage.cshtml";
}

<div class="app-content pt-3 p-md-3 p-lg-4" style="height: 1000px;">
    <div class="container-xl">

        <div class="bgKonten">
            <h1 class="app-page-title mb-4 p-3">
                Master Aktor - @ViewData["Title"]

                <span class="float-end">
                    <a class="btn btn-warning text-white" asp-controller="Aktor" asp-action="Index"><i class="fa-solid fa-left-long"></i> Kembali</a>
                </span>
            </h1>
        </div>

        <div class="bgKonten">
            <form method="post" class="mt-4 p-4">
                <input type="hidden" class="form-control" asp-for="Id_Aktor">
                <div class="mb-3">
                    <label for="" class="form-label">Username</label>
                    <input type="text" class="form-control" asp-for="Username">
                </div>
                <input type="hidden" class="form-control" asp-for="Password">
                <div class="mb-3">
                    <label for="" class="form-label">Role</label>
                    <select class="form-select" asp-for="Role">
                        <option value="">-- Pilih Role --</option>
                        <option value="Division Member">Division Member</option>
                        <option value="Risk Manager">Risk Manager</option>
                    </select>
                </div>
                
                <input type="hidden" id="Role" asp-for="Role" />

                <div id="namaDivisi" class="mb-3" style="display: none;">
                    <label for="" class="form-label">Divisi</label>
                    <select asp-for="Id_Divisi" name="Id_Divisi" class="form-select" asp-items="ViewBag.Divisis"></select>
                </div>

                <div class="row mt-4">
                    <div class="col-4">
                        <div class="d-grid gap-2">
                            <input type="reset" class="btn btn-danger text-white" value="Batal" />
                        </div>
                    </div>

                    <div class="col-8">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success btn-block text-white"><i class="fa-regular fa-floppy-disk"></i> Ubah</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const el = document.getElementById('Role');
    const box = document.getElementById('namaDivisi');

    el.addEventListener('change', function handleChange(event) {
      if (event.target.value === 'Division Member') {
        box.style.display = 'block';
      } else {
        box.style.display = 'none';
      }
    });

    var x = document.getElementById("Role").value;
    if (x === "Division Member") {
        box.style.display = 'block';
    }
</script>